@{
    ViewBag.Title = "Contact";
}
<h2>Profesor Omar Frometa</h2>
<h3>Desarrollo de Software</h3>

<h4>Pagina Web<br />C.R.U.D Carros</h4>

<address>
    <strong>Soporte:</strong>   <a href="mailto:1104174@est.intec.edu.do">Correo del estudiante</a><br />
</address>